**/bin/
**/obj/
**/.vs/
**/*.user
**/.vscode/
**/.cursor/
**/.github/
**/TestResults/
**/.git/
**/.gitignore
**/.dockerignore
**/Dockerfile
**/*.md
GeomancyApp/bin/
GeomancyApp/obj/
GeomancyAPI/bin/
GeomancyAPI/obj/
GeomancyUnitTesting/
GeomanyUtils/
packages/
